http-query-param is adding params in already added query params of url in Location of MPD 

### Checklist

- [X] This is a bug report and not [a different kind of issue](https://github.com/streamlink/streamlink/issues/new/choose)
- [X] [I have read the contribution guidelines](https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#contributing-to-streamlink)
- [X] [I have checked the list of open and recently closed bug reports](https://github.com/streamlink/streamlink/issues?q=is%3Aissue+label%3A%22bug%22)
- [X] [I have checked the commit log of the master branch](https://github.com/streamlink/streamlink/commits/master)

### Collaboration

- [X] [I will provide feedback should a pull request be opened with a fix for the problem](https://github.com/streamlink/streamlink/blob/master/CONTRIBUTING.md#pull-request-feedback)

### Streamlink version

[cli][info] Your Streamlink version (6.8.3) is up to date!

### Description

mpd link is reducted for privacy. 

I noticed this behavior in the mitmproxy attached to the terminal. As you can see in the screenshot, the CMCD and chSessionId are being added to the URL after each response from the MPD.

![image](https://github.com/user-attachments/assets/032dd295-f33a-431e-9d7a-0e018ee76164)

You can see in the link that after each response from the MPD, HTTP parameters are being added, which ends up failing to access the MPD.

```
https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
```


the response from the mpd is like this

```xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<MPD maxSegmentDuration="PT7S" timeShiftBufferDepth="PT1M0S" minBufferTime="PT4S" minimumUpdatePeriod="PT3S" publishTime="2024-07-15T18:21:30.973Z" availabilityStartTime="1970-01-01T00:00:00.000Z" type="dynamic" profiles="urn:mpeg:dash:profile:isoff-live:2011,http://dashif.org/guidelines/dash-if-simple" xmlns="urn:mpeg:dash:schema:mpd:2011" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:mpeg:dash:schema:mpd:2011 DASH-MPD.xsd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:scte35="urn:scte:scte35:2014:xml+bin" xmlns:cenc="urn:mpeg:cenc:2013" xmlns:mspr="urn:microsoft:playready">
  <BaseURL>https://somempd.net/live/dash/cenc/HD/50fps/avc/high/6ch/1st/76806/</BaseURL>
  <Location>https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&amp;userId=d8a7a22f983c36ae55bea5e3b998eb4c&amp;yo.d.ut=no&amp;yo.d.mr=true&amp;yo.br=true&amp;useg=gf,a60-64&amp;CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&amp;chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&amp;externalId=76806_dash_1st&amp;CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&amp;chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&amp;CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&amp;chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ</Location>
 ```
  
  
I added log.debug(f"Location:{self.location.text}") at line 367 in src\streamlink\stream\dash\manifest.py to add the new URL to the debug log.


### Debug log

```text
[cli][debug] OS:         Windows 10
[cli][debug] Python:     3.11.1
[cli][debug] OpenSSL:    OpenSSL 1.1.1q  5 Jul 2022
[cli][debug] Streamlink: 6.8.3+2.gab30b0cf.dirty
[cli][debug] Dependencies:
[cli][debug]  certifi: 2024.6.2
[cli][debug]  isodate: 0.6.1
[cli][debug]  lxml: 4.9.2
[cli][debug]  pycountry: 22.3.5
[cli][debug]  pycryptodome: 3.20.0
[cli][debug]  PySocks: 1.7.1
[cli][debug]  requests: 2.31.0
[cli][debug]  trio: 0.24.0
[cli][debug]  trio-websocket: 0.11.1
[cli][debug]  typing-extensions: 4.9.0
[cli][debug]  urllib3: 2.2.1
[cli][debug]  websocket-client: 1.5.1
[cli][debug] Arguments:
[cli][debug]  url=dash://https://somempd.com/csm/extlive/comhemprd01,76806_dash_1st.mpd?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64
[cli][debug]  stream=['worst']
[cli][debug]  --loglevel=debug
[cli][debug]  --stream-segment-timeout=3.0
[cli][debug]  --http-query-param=[('CMCD', 'br=192,d=0,mtp=10000,ot=i,sf=d,sid=10a4f4eddc4947c2bb28286d302a2c37,st=l,su'), ('chSessionId', 'eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ')]
[cli][info] Found matching plugin dash for URL dash://https://somempd.com/csm/extlive/comhemprd01,76806_dash_1st.mpd?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64
[plugins.dash][debug] URL=https://somempd.com/csm/extlive/comhemprd01,76806_dash_1st.mpd?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64; params={}
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st
[utils.l10n][debug] Language code: en_US
[stream.dash][debug] Available languages for DASH audio streams: swe (using: swe)
[cli][info] Available streams: 270p+a192k_alt (worst), 270p+a384k_alt, 270p+a192k, 360p+a192k, 270p+a384k, 540p+a192k, 360p+a384k, 720p+a192k_alt, 720p+a384k_alt, 720p+a192k, 540p+a384k, 720p+a384k (best)
[cli][info] Opening stream: 270p+a192k_alt (dash)
[cli][info] Starting player: C:\Program Files\VideoLAN\VLC\vlc.exe
[stream.dash][debug] Opening DASH reader for: ('ci-154896075001040', None, 'V5') - video/mp4
[stream.dash][debug] video/mp4 segment initialization: downloading (2024-07-15T18:18:20.012000Z / 2024-07-15T18:21:35.809990Z)
[stream.dash][debug] Opening DASH reader for: ('ci-154896075001040', None, 'A0') - audio/mp4
[stream.dash.manifest][debug] Generating segment timeline for dynamic playlist: ('ci-154896075001040', None, 'V5')
[stream.dash][debug] Reloading manifest ('ci-154896075001040', None, 'V5')
[stream.dash][debug] audio/mp4 segment initialization: downloading (2024-07-15T18:18:20.012000Z / 2024-07-15T18:21:35.815522Z)
[stream.dash.manifest][debug] Generating segment timeline for dynamic playlist: ('ci-154896075001040', None, 'A0')
[stream.dash][debug] Reloading manifest ('ci-154896075001040', None, 'A0')
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
[stream.ffmpegmux][debug] ffmpeg version 2024-07-10-git-1a86a7a48d-full_build-www.gyan.dev Copyright (c) 2000-2024 the FFmpeg developers
[stream.ffmpegmux][debug]  built with gcc 13.2.0 (Rev5, Built by MSYS2 project)
[stream.ffmpegmux][debug]  configuration: --enable-gpl --enable-version3 --enable-static --disable-w32threads --disable-autodetect --enable-fontconfig --enable-iconv --enable-gnutls --enable-libxml2 --enable-gmp --enable-bzlib --enable-lzma --enable-libsnappy --enable-zlib --enable-librist --enable-libsrt --enable-libssh --enable-libzmq --enable-avisynth --enable-libbluray --enable-libcaca --enable-sdl2 --enable-libaribb24 --enable-libaribcaption --enable-libdav1d --enable-libdavs2 --enable-libopenjpeg --enable-libquirc --enable-libuavs3d --enable-libxevd --enable-libzvbi --enable-libqrencode --enable-librav1e --enable-libsvtav1 --enable-libvvenc --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxavs2 --enable-libxeve --enable-libxvid --enable-libaom --enable-libjxl --enable-libvpx --enable-mediafoundation --enable-libass --enable-frei0r --enable-libfreetype --enable-libfribidi --enable-libharfbuzz --enable-liblensfun --enable-libvidstab --enable-libvmaf --enable-libzimg --enable-amf --enable-cuda-llvm --enable-cuvid --enable-dxva2 --enable-d3d11va --enable-d3d12va --enable-ffnvcodec --enable-libvpl --enable-nvdec --enable-nvenc --enable-vaapi --enable-libshaderc --enable-vulkan --enable-libplacebo --enable-opencl --enable-libcdio --enable-libgme --enable-libmodplug --enable-libopenmpt --enable-libopencore-amrwb --enable-libmp3lame --enable-libshine --enable-libtheora --enable-libtwolame --enable-libvo-amrwbenc --enable-libcodec2 --enable-libilbc --enable-libgsm --enable-libopencore-amrnb --enable-libopus --enable-libspeex --enable-libvorbis --enable-ladspa --enable-libbs2b --enable-libflite --enable-libmysofa --enable-librubberband --enable-libsoxr --enable-chromaprint
[stream.ffmpegmux][debug]  libavutil      59. 28.100 / 59. 28.100
[stream.ffmpegmux][debug]  libavcodec     61. 10.100 / 61. 10.100
[stream.ffmpegmux][debug]  libavformat    61.  5.101 / 61.  5.101
[stream.ffmpegmux][debug]  libavdevice    61.  2.100 / 61.  2.100
[stream.ffmpegmux][debug]  libavfilter    10.  2.102 / 10.  2.102
[stream.ffmpegmux][debug]  libswscale      8.  2.100 /  8.  2.100
[stream.ffmpegmux][debug]  libswresample   5.  2.100 /  5.  2.100
[stream.ffmpegmux][debug]  libpostproc    58.  2.100 / 58.  2.100
[utils.named_pipe][info] Creating pipe streamlinkpipe-17984-1-8560
[utils.named_pipe][info] Creating pipe streamlinkpipe-17984-2-7459
[stream.ffmpegmux][debug] ffmpeg command: C:\bin\ffmpeg.EXE -nostats -y -i \\.\pipe\streamlinkpipe-17984-1-8560 -i \\.\pipe\streamlinkpipe-17984-2-7459 -c:v copy -c:a copy -copyts -f matroska pipe:1
[stream.ffmpegmux][debug] Starting copy to pipe: \\.\pipe\streamlinkpipe-17984-1-8560
[stream.ffmpegmux][debug] Starting copy to pipe: \\.\pipe\streamlinkpipe-17984-2-7459
[cli][debug] Pre-buffering 8192 bytes
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
[stream.dash][debug] audio/mp4 segment 7: downloading (2024-07-15T18:21:23.293000Z / 2024-07-15T18:21:37.306520Z)
[stream.dash][debug] audio/mp4 segment initialization: completed
[stream.dash][debug] video/mp4 segment 7: downloading (2024-07-15T18:21:23.293000Z / 2024-07-15T18:21:37.322341Z)
[stream.dash][debug] video/mp4 segment initialization: completed
[stream.dash.manifest][debug] Generating segment timeline for dynamic playlist: ('ci-154896075001040', None, 'V5')
[stream.dash][debug] Reloading manifest ('ci-154896075001040', None, 'V5')
[stream.dash.manifest][debug] Generating segment timeline for dynamic playlist: ('ci-154896075001040', None, 'A0')
[stream.dash][debug] Reloading manifest ('ci-154896075001040', None, 'A0')
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
[stream.dash][debug] audio/mp4 segment 8: downloading (2024-07-15T18:21:27.133000Z / 2024-07-15T18:21:39.677803Z)
[stream.dash][debug] audio/mp4 segment 7: completed
[stream.dash][debug] video/mp4 segment 8: downloading (2024-07-15T18:21:27.133000Z / 2024-07-15T18:21:40.368784Z)
[stream.dash][debug] video/mp4 segment 7: completed
[cli.output][debug] Opening subprocess: ['C:\\Program Files\\VideoLAN\\VLC\\vlc.exe', '--input-title-format', 'dash://https://somempd.com/csm/extlive/comhemprd01,76806_dash_1st.mpd?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64', '-']
[cli][debug] Writing stream to output
[stream.dash][debug] audio/mp4 segment 8: completed
[stream.dash.manifest][debug] Generating segment timeline for dynamic playlist: ('ci-154896075001040', None, 'V5')
[stream.dash][debug] Reloading manifest ('ci-154896075001040', None, 'V5')
[stream.dash.manifest][debug] Generating segment timeline for dynamic playlist: ('ci-154896075001040', None, 'A0')
[stream.dash][debug] Reloading manifest ('ci-154896075001040', None, 'A0')
[stream.dash][debug] audio/mp4 segment 8: downloading (2024-07-15T18:21:30.973000Z / 2024-07-15T18:21:41.835977Z)
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
[stream.dash][debug] video/mp4 segment 8: downloading (2024-07-15T18:21:30.973000Z / 2024-07-15T18:21:43.125404Z)
[stream.dash][debug] video/mp4 segment 8: completed
[stream.dash][debug] audio/mp4 segment 8: completed
[stream.dash.manifest][debug] Generating segment timeline for dynamic playlist: ('ci-154896075001040', None, 'V5')
[stream.dash][debug] Reloading manifest ('ci-154896075001040', None, 'V5')
[stream.dash.manifest][debug] Generating segment timeline for dynamic playlist: ('ci-154896075001040', None, 'A0')
[stream.dash][debug] Reloading manifest ('ci-154896075001040', None, 'A0')
[stream.dash][debug] audio/mp4 segment 8: downloading (2024-07-15T18:21:34.813000Z / 2024-07-15T18:21:44.846044Z)
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
[stream.dash.manifest][debug] Location:https://somempd.com/csm/live/661409723/1.mpd;jsessionid=4FE02A1712F9ADD365A56B4759BC15A0.somempd.com?channelId=28&userId=d8a7a22f983c36ae55bea5e3b998eb4c&yo.d.ut=no&yo.d.mr=true&yo.br=true&useg=gf,a60-64&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&externalId=76806_dash_1st&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ&CMCD=br%3D192%2Cd%3D0%2Cmtp%3D10000%2Cot%3Di%2Csf%3Dd%2Csid%3D10a4f4eddc4947c2bb28286d302a2c37%2Cst%3Dl%2Csu&chSessionId=eyJraWQiOiIiLCJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJjZGIiOiJmYWxzZSIsIm5iZiI6MTcyMTAzMzI3MiwiY3BlSWQiOiI1ZGFlZmQ3N2E4YjU3NzAwMDEzZGJmMjVfLTkyMDg4NjYzMCIsImFzc2V0SWQiOiI3NjgwNiIsImFwcE5hbWUiOiIiLCJpcCI6IjE3Ni4xMC4yNDguMTk0IiwiaXNzIjoibWFuZGVsIiwiY3VzdG9tZXJJZCI6IjVkYWVmZDc3YThiNTc3MDAwMTNkYmYyNSIsImV4cCI6MTcyMTExOTY3MiwibmV0d29ya1R5cGUiOiJVTktOT1dOIiwiaWF0IjoxNzIxMDMzMjcyLCJjb250ZW50IjoiNzY4MDYifQ.AA3zt0PqMkOCkh8TLzKazyhfCY5LKCXmMmbLhYPAfHNt43GBuYAPkzG2deeXWjJaQOXhHqN5sipaK-qUI7YtWQ
[stream.dash][debug] video/mp4 segment 8: downloading (2024-07-15T18:21:34.813000Z / 2024-07-15T18:21:45.885307Z)
[stream.dash][debug] video/mp4 segment 8: completed
[stream.dash][debug] audio/mp4 segment 8: completed
[stream.ffmpegmux][debug] Closing ffmpeg thread
[stream.segmented][debug] Closing worker thread
[stream.segmented][debug] Closing writer thread
[stream.segmented][debug] Closing worker thread
[stream.segmented][debug] Closing writer thread
[stream.ffmpegmux][debug] Pipe copy complete: \\.\pipe\streamlinkpipe-17984-2-7459
[stream.ffmpegmux][debug] Pipe copy complete: \\.\pipe\streamlinkpipe-17984-1-8560
[stream.ffmpegmux][debug] Closed all the substreams
[cli][info] Stream ended
Interrupted! Exiting...
[cli][info] Closing currently open stream...
```


--http-query-param is required for the segments

> --http-query-param is required for the segments

Then this MPD manifest violates the DASH specification.

You'll need to implement a custom plugin which subclasses Streamlink's DASH implementation where only the segment URLs are updated. You can also try setting `--http-query-param` and the `params={}` stream-protocol parameter in order to override query string parameters in the MPD manifest URL.

Segment URLs which require further client modification are not valid according to `ISO/IEC 23009-1`. This is all the spec has to say about resolving URLs:

> **5.6.4 Reference resolution**
>
> URLs at each level of the MPD are resolved according to IETF RFC 3986 with respect to the **BaseURL** element specified at that level of the document or the level above in the case of resolving base URLs themselves (the document "base URI" as defined in IETF RFC 3986:2005, subclause 5.1 is considered to be the level above the MPD level). If only relative URLs are specified and the document base URI cannot be established according to IETF RFC 3986 then the MPD should not be interpreted. URL resolution applies to all URLs found in MPD documents.
>
> In addition to the document level (the level above the MPD level), base URL information may be present on the following levels:
> - On MPD level in **MPD.BaseURL** element. For details, refer to subclause 5.3.1.2.
> - On Period level in **Period.BaseURL** element. For details, refer to subclause 5.3.2.2.
> - On Adaptation Set level in **AdaptationSet.BaseURL** element. For details, refer to subclause 5.3.3.2.
> - On Representation level in **Representation.BaseURL**. For details, refer to subclause 5.3.5.2.
>
> When a **BaseURL** element is present on the same level in the MPD as an actual URL, resolution of the actual URL includes the value of the **BaseURL**.
>
> NOTE
> URL resolution is defined in RFC 3986:2005, section 5.2 and is *not* a simple concatenation. In particular, when a URL in the MPD is specified as a relative URLs, then as per IETF RFC 3986 for the URL resulting from resolving the value of the element, all characters following the last ‘/’ part of its path part are replaced by the value of the actual URL attribute.

Same case with dozens of plugins which require custom HLS subclasses, because the streaming provider violates RFC 8216.